{%  extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Currency" %}{% endblock %}

{% block content %}

    <form action="/currency/" method="post">
        {% csrf_token %}
        <select name="currency">
            {% for currency in currencies %}
                <option value="{{ currency }}"{% if currency == current_currency %} selected{% endif %}>
                    {{ currency }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" value="submit">Ok</button>
    </form>
{%  endblock %}